[Unit]
Description=g-Dashboard background checker for Linux machine.
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash ~/g-dashboard_lin_bg_check/gd-bg_lin.sh
User=prod
Restart=on-failure

[Install]
WantedBy=multi-user.target